@use './_fonts';
@use './_components';
@use './_borders';
@use './_colors';
@use './_widths';

/** Default Tags **/
html {
    scroll-behavior: smooth;
}

body {
    @include fonts.body-regular();
    margin: 0;
    position: relative;
    min-height: 100vh;
    max-height: 100vh;

    background-color: colors.$background;

    color: white;
}

a {
    color: white;

    &:visited {
        color: white;
    }

    &:active {
        color: colors.$active;
    }
}

h1, h2, h3, h4 {
    @include fonts.header-medium();
    margin-block-end: 0;
}

header {
    height: 12vh;
}

main {
    @include widths.default();

    height: 80vh;
}

footer {
    @include widths.default();

    position: absolute;
    
    left: 0;
    right: 0;
    bottom: 0;
    
    height: 5vh;
    
    display: flex;
    
    #footer-text {
        @include fonts.header-medium();
        flex-grow: 1;
    }

    #footer-links {
        @include fonts.header-bold();
    }


    @media (max-width: 500px) {
        height: 5vh;
        font-size: 0.8rem;
    }
}

/** Nav **/

nav {
    @include widths.default();
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 90px;

    .nav-menu {
        flex-grow: 1;
    }

    @media (max-width: widths.$break-point-max) {
        padding-top: 15px;
    }

    @media (max-width: 500px) {
        padding-top: 10px;

        .nav-link {
        
            font-size: 1.0rem;
        }
    }

    .social-icon {
        color: white;

        &:hover {
            color: white;
            border-bottom: borders.$white;
        }
    }
}

.nav-link {
    @include fonts.header-bold();   

    text-decoration: none;
    font-size: 1.2rem;
    color: white;

    margin-right: 10px;
    
    padding: 5px;
    border: borders.$blank;
    
    &:hover {
        color: colors.$blue;
    }

    &:active {
        color: colors.$active;
    }
}

#site-logo {
    margin-right: 20px;

    @media (max-width: widths.$break-point-max) {
        position: fixed;
        top: 5px;
        width: 30%;
    }

    svg {
        display: block;

        #site-logo-ludo {
            fill: white;
        }

        #site-logo-systems {
            fill: colors.$green;
        }
    }
    
    &:hover {
        svg {
            #site-logo-ludo {
                fill: colors.$blue;
            } 
            
            #site-logo-systems {
                fill: colors.$active;
            }                
        }
    }

    &:active {
        svg {
            #site-logo-ludo{
                fill: colors.$active;
            }

            #site-logo-systems {
                fill: colors.$active-darker;
            }
        }
    }
}

/** Nodes **/

#node-editor {
    height: 100%;
    border: borders.$black;

    position: relative;
    background-color: white;
}

.warning {
    @include fonts.body-regular();
    position: absolute;

    z-index: 10;

    left: 5%;
    right: 5%;

    padding: 10px;

    border-left: borders.$black;
    border-right: borders.$black;
    border-bottom: borders.$black;
    
    background-color: red;
    color: white;

    &:before {
        @include fonts.body-bold();
        content: "Warning: ";
    }
}

#node-editor-controls {
    position: absolute;
    z-index: 5;
    padding: 15px;    

    .node-editor-control {
        background: none;
        border: none;
        padding: 0;
    
        width: 75px;
    }

    #node-add-button {
        &:hover {
            svg {
                .interior-background {
                    fill: colors.$blue;
                }
                .create-button {
                    fill: darken(colors.$green, 10%);

                    .interior-background {
                        fill: lighten(colors.$green, 40%); 
                    }
                }
            }
        }
    
        &:active {
            svg { 
                .interior-background {
                    fill: colors.$active;
                }
    
                .create-button {
                    fill: darken(colors.$green, 20%);

                    .interior-background {
                        fill: lighten(colors.$green, 30%); 
                    }
                }
            }
        }
    }
}

/** UI Buttons **/

.ui-button {
    cursor: pointer;

    .interior-background {
        fill: white;
    }
}

.create-button {
    fill: colors.$green;

    &:hover {
        fill: darken(colors.$green, 10%);

        .interior-background {
            fill: lighten(colors.$green, 40%); 
        }
    }

    &:active {

        fill: darken(colors.$green, 20%);

        .interior-background {
            fill: lighten(colors.$green, 30%); 
        }
    }
}

.change-button {
    fill: colors.$blue;
    
    &:hover {
        fill: darken(colors.$blue, 10%);

        .interior-background {
            fill: lighten(colors.$blue, 20%); 
        }
    }

    &:active {
        fill: darken(colors.$blue, 20%);

        .interior-background {
            fill: lighten(colors.$blue, 10%); 
        }
    }
}

.remove-button {
    fill: colors.$red;

    &:hover {
        fill: darken(colors.$red, 10%);

        .interior-background {
            fill: lighten(colors.$red, 40%); 
        }
    }

    &:active {

        fill: darken(colors.$red, 20%);

        .interior-background {
            fill: lighten(colors.$red, 30%); 
        }
    }
}

.disabled > svg {
    cursor: not-allowed;
    fill: #BBB;

    &:hover {
        fill: #BBB;
        
        .interior-background {
            fill: white;
        }
    }
    &:active {
        fill: #BBB;

        .interior-background {
            fill: white;
        }
    }
}