@use './_fonts';
@use './_components';
@use './_borders';
@use './_colors';
@use './_widths';

$frame-z: 50;

/** Default Tags **/
html {
    scroll-behavior: smooth;
}

body {
    @include fonts.body-regular();
    
    background-color: colors.$background;

    color: white;
}

a {
    color: white;

    &:visited {
        color: white;
    }

    &:hover {
        color: colors.$blue;
    }

    &:active {
        color: colors.$active;
    }
}

h1, h2, h3, h4 {
    @include fonts.header-medium();
    margin-block-end: 0;
}

header {
    @include components.unselectable();

    position: fixed;
    background-color: colors.$background;
    z-index: $frame-z;

    height: widths.$frame-v;
    width: calc(100% - #{widths.$frame-h * 2});

    left: widths.$frame-h;

    padding: 5px 0;
}

.frame {
    position: fixed;
    width: widths.$frame-h;

    height: 100%;
    
    top: 0;

    z-index: $frame-z;

    background-color: colors.$background;
    
    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

main {
    height: 100vh;
}

footer {
    @include components.unselectable();

    position: fixed;
    
    z-index: $frame-z;
    background-color: colors.$background;
    bottom: 0px;

    width: calc(100% - #{widths.$frame-h * 2});

    left: widths.$frame-h;

    height: widths.$frame-v;
    
    display: flex;
    
    #footer-text {
        @include fonts.header-medium();
        flex-grow: 1;

        font-size:1.0rem;
    }

    #footer-links {
        @include fonts.header-bold();

        font-size: 0.8rem;

        a {
            margin-left: 10px;
        }
    }

       
    @media (max-width: widths.$break-max-screen-third) {
        #footer-text {
            font-size: 0.9rem;
        }

        #footer-links {
            font-size: 0.7rem;
        }
    }

    @media (max-width: widths.$break-max-phone-vertical) {
        #footer-text {
            font-size: 0.8rem;
        }

        #footer-links {
            font-size: 0.6rem;
        }

    }
}

/** Nav **/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    text-transform: lowercase;
    white-space: nowrap;

    .nav-menu {
        border-left: borders.$green;
        margin-right: 15px;
        
        flex-grow: 1;
        
        font-size: 1.2rem;
    }

    .user-menu {
        font-size: 0.8rem;
    }
    
    @media (max-width: widths.$break-max-screen-third) {
        .nav-menu {
            font-size: 1.0rem;
        }
        .user-menu {
            font-size: 0.8rem;
        }
    }

    @media (max-width: widths.$break-max-phone-vertical) {
        .nav-menu {
            font-size: 0.8rem;
        }

        .user-menu {
            font-size: 0.6rem;
        }
    }

    .social-icon {
        color: white;

        &:hover {
            color: white;
            border-bottom: borders.$white;
        }
    }
}

.nav-link {
    @include fonts.header-bold();   

    text-decoration: none;
    color: white;

    padding: 5px;
    

    margin-left: 5px;
    
    &:hover {
        color: colors.$blue;
    }

    &:active {
        color: colors.$active;
    }

}

#site-logo {
    margin-right: 10px;
    width: 200px;

    svg {
        display: block;

        #site-logo-ludo {
            fill: white;
        }

        #site-logo-systems {
            fill: colors.$green;
        }
    }
    
    &:hover {
        svg {
            #site-logo-ludo {
                fill: colors.$blue;
            } 
            
            #site-logo-systems {
                fill: colors.$active;
            }                
        }
    }

    &:active {
        svg {
            #site-logo-ludo{
                fill: colors.$active;
            }

            #site-logo-systems {
                fill: colors.$active-darker;
            }
        }
    }

    @media (max-width: widths.$break-max-phone-vertical) {
        width: 120px;
    }
}

/** Pages **/

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: colors.$background-opaque;

    $padding-top: widths.$frame-v + 50px;

    padding-top: $padding-top;
    height: calc(100% - #{$padding-top});

    h1 {
        margin-bottom: 30px;
    }

    .content {
        max-width: 80%;
        border: borders.$green;
        padding: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.auth {
    form {      
        width: 200px;

        .error, .alert {
            align-self: center;

            margin-top: 2px;  
            
            font-size: 0.9rem;

            text-decoration: underline;
            text-decoration-color: colors.$red;
        }

        .form-row {           
            display: flex;
            flex-direction: column;

            label {
                @include fonts.header-medium();
            }
         
            input {
                border: borders.$blue;
                outline: none;

                font-size: 0.8rem;

                &:focus {
                    border: borders.$active;
                }
            }

            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    
        button {
            @include components.button();
            align-self: center;
    
            margin-top: 10px;
            width: 100px;
        }
    }
}

/** Nodes **/

#node-editor {
    height: 100%;
    
    background-color: #EFEFEF;
}

.warning {
    @include fonts.body-regular();
    position: absolute;

    z-index: 10;

    left: 5%;
    right: 5%;

    padding: 10px;
    margin-top: widths.$frame-v + 10px;

    border: borders.$black;
    border-left: borders.$black;
    border-right: borders.$black;
    border-bottom: borders.$black;
    
    background-color: red;
    color: white;

    div {
        margin: 10px;
    }
}

.react-flow__minimap {
    margin-right: widths.$frame-h;
    margin-bottom: widths.$frame-v;
    
    @media (max-width: widths.$break-max-phone-vertical) {
        width: 150px;
        height: 100px;
    }
}

.react-flow__controls {
    margin-left: widths.$frame-h;
    margin-bottom: widths.$frame-v;
}

#node-editor-controls {
    position: absolute;

    margin-top: widths.$frame-v;
    margin-left: widths.$frame-h;

    z-index: 5;
    padding: 15px;    

    display: flex;

    flex-direction: column;

    .control-group {
        position: relative;
        margin-top: 10px;
        padding: 15px;
        border: borders.$black;
        
        &:first-child {
            border-top-right-radius: 25px;
        }

        &:last-child {
            border-bottom-right-radius: 25px;
        }
        


        .label {
            @include fonts.header-medium();
            @include components.unselectable();

            cursor: default;

            font-size: 0.8rem;

            position: absolute;
            top: 0px;
            left: 0px;

            padding-left: 2px;
            padding-right: 6px;
            padding-bottom: 2px;

            background-color: black;
        }
    }

    .node-editor-control {
        background: none;
        border: none;
        padding: 0;
    
        width: 60px;

        &:not(:first-child) {
            margin-top: 20px;
        }

        @media (max-width: widths.$break-max-phone-vertical) {
            width: 50px;
        }
    }

    #node-add-button {
        &:hover {
            svg {
                .interior-background {
                    fill: colors.$blue;
                }
                .create-button {
                    fill: darken(colors.$green, 10%);

                    .interior-background {
                        fill: lighten(colors.$green, 40%); 
                    }
                }
            }
        }
    
        &:active {
            svg { 
                .interior-background {
                    fill: colors.$active;
                }
    
                .create-button {
                    fill: darken(colors.$green, 20%);

                    .interior-background {
                        fill: lighten(colors.$green, 30%); 
                    }
                }
            }
        }
    }

    #export-json-button {
        &:hover {
            svg {
                .interior-background {
                    fill: colors.$blue;
                }

                .change-button {
                    fill: darken(colors.$blue, 10%);

                    .interior-background {
                        fill: lighten(colors.$blue, 20%); 
                    }
                }
            }
        }
    }
}

/** UI Buttons **/

.ui-button {
    cursor: pointer;

    .interior-background {
        fill: white;
    }
}

.create-button {
    fill: colors.$green;

    &:hover {
        fill: darken(colors.$green, 10%);

        .interior-background {
            fill: lighten(colors.$green, 40%); 
        }
    }

    &:active {

        fill: darken(colors.$green, 20%);

        .interior-background {
            fill: lighten(colors.$green, 30%); 
        }
    }
}

.change-button {
    fill: colors.$blue;
    
    &:hover {
        fill: darken(colors.$blue, 10%);

        .interior-background {
            fill: lighten(colors.$blue, 20%); 
        }
    }

    &:active {
        fill: darken(colors.$blue, 20%);

        .interior-background {
            fill: lighten(colors.$blue, 10%); 
        }
    }
}

.remove-button {
    fill: colors.$red;

    &:hover {
        fill: darken(colors.$red, 10%);

        .interior-background {
            fill: lighten(colors.$red, 40%); 
        }
    }

    &:active {

        fill: darken(colors.$red, 20%);

        .interior-background {
            fill: lighten(colors.$red, 30%); 
        }
    }
}

.disabled > svg {
    cursor: not-allowed;
    fill: #BBB;

    &:hover {
        fill: #BBB;
        
        .interior-background {
            fill: white;
        }
    }
    &:active {
        fill: #BBB;

        .interior-background {
            fill: white;
        }
    }
}