@use "./_fonts";
@use "./_borders";
@use "./_colors";

.react-flow__handle  {
    background-color: black;
    margin-top: -1.5px;
    margin-bottom: -1.5px;

    width: 9px;
    height: 9px;
}

.react-flow__handle.connectable {
    // cursor: grab;
}

.react-flow__handle-connecting {
    // background-color: colors.$green;
    // cursor: cell;
}

.react-flow__handle-valid {
    background-color: colors.$green;
    cursor: cell;
}



.react-flow__node {
    @include fonts.body-regular();

    color: black;
    border: borders.$black;
    border-style: solid;
    padding: 10px;

    background-color: white;

    .node-title {
        @include fonts.header-medium();
        padding: 5px;
    }

    
    &.selected {
        border-color: colors.$active;

        .node-title {
            background-color: colors.$active;
            color: white;
        }

        .node-attribute-button-panel.viewing {
            .node-attribute-button{
                display: block;
            }
        }
    }
}

.react-flow__edge-path, .react-flow__connection-path {
    stroke: black;
    stroke-width: 3px;
}

.react-flow__connection-path {
    stroke-width: 1px;
    stroke-dasharray: 5;
    animation: connection-dash 5s linear;
}

@keyframes connection-dash {
    from {
      stroke-dashoffset: 100;
    }
  }


/** Node Attributes **/
.node-attributes {

    // TODO: make this a background colour on the node instead,
    // and make that background change on select. That part should
    // be the handle we use to drag the node.

    border: borders.$black;
    padding: 10px;

    cursor: auto;
    
}

.node-attribute-display {
    display: flex;

    justify-content: space-between;

    .node-attribute-display-name {
        @include fonts.body-bold();
    }


    form {
        display: flex;

        label {
            font-size: 0.8rem;
            display: block;
        }
    }


    &.text-attribute-editor {
        .text-attribute-name-editor {
            input {
                @include fonts.body-bold();
            }
        }
    }

    input, textarea {
        font-size: 1.0rem;
        border: borders.$blue;

        &:focus {
            outline: none;
            border: borders.$active;
        }
    }
    

}

